body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 24px 0;
}

.container {
  padding: 16px;
  border-radius: 4px;
  background-color: #fcf8e3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

@media (max-width: 650px) {
  .wrapper {
    height: 250px;
  }
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundWrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  pointer-events: none;
}

.contentBackground {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 87%;
  background-color: #fcf8e4;
  overflow: hidden;
  z-index: -1;
  cursor: pointer;
}

.contentWrapper {
  position: absolute;
  top: 7px;
  left: 10px;
  width: calc(100% - 19px);
  height: 87%;
}

@media (max-width: 767px) {
  .contentWrapper {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(87% + 1px);
  }
}

.firstStepWrapper {
  width: 100%;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.firstStepWrapper h4 {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 24px auto;
  padding: 8px 24px;
  color: #1d1d1d;
}

@media (max-width: 650px) {
  .firstStepWrapper h4 {
    font-size: 18px;
    margin: 16px auto;
    margin-bottom: 8px;
  }
}

@media (max-width: 400px) {
  .firstStepWrapper h4 {
    font-size: 16px;
  }
}

.buttonsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px;
  padding-right: 0;
}

.stepButton {
  position: relative;
  width: calc(33% - 24px);
  height: 60px;
  margin-right: 16px;
  margin-bottom: 24px;
  overflow: hidden;
  border: 1px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}

@media (max-width: 650px) {
  .stepButton {
    width: calc(50% - 24px);
    height: 50px;
    margin-bottom: 16px;
  }
}

.stepButton button {
  width: 101%;
  height: 100%;
  font-weight: 300;
  font-size: 18px;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: buttonAnimationSecond 0.7s steps(70) forwards;
  animation: buttonAnimationSecond 0.7s steps(70) forwards;
}

.stepButton button:hover {
  -webkit-animation: buttonAnimation 0.7s steps(70) forwards;
  animation: buttonAnimation 0.7s steps(70) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  position: absolute;
  font-size: 18px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contentBackground span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.contentBackground span:nth-child(1) {
  color: #e45a84;
  top: 85%;
  left: 18%;
  -webkit-animation-duration: 13.8s;
          animation-duration: 13.8s;
  -webkit-animation-delay: -13.7s;
          animation-delay: -13.7s;
  -webkit-transform-origin: -23vw 11vh;
          transform-origin: -23vw 11vh;
  -webkit-box-shadow: -40vmin 0 10.21152vmin currentColor;
          box-shadow: -40vmin 0 10.21152vmin currentColor;
}

.contentBackground span:nth-child(2) {
  color: #e45a84;
  top: 90%;
  left: 49%;
  -webkit-animation-duration: 14.2s;
          animation-duration: 14.2s;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform-origin: 18vw 5vh;
          transform-origin: 18vw 5vh;
  -webkit-box-shadow: 40vmin 0 8.79245vmin currentColor;
          box-shadow: 40vmin 0 8.79245vmin currentColor;
}

.contentBackground span:nth-child(3) {
  color: #e45a84;
  top: 12%;
  left: 70%;
  -webkit-animation-duration: 11.7s;
          animation-duration: 11.7s;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
  -webkit-transform-origin: -3vw 4vh;
          transform-origin: -3vw 4vh;
  -webkit-box-shadow: -40vmin 0 8.66704vmin currentColor;
          box-shadow: -40vmin 0 8.66704vmin currentColor;
}

.contentBackground span:nth-child(4) {
  color: #ffacac;
  top: 55%;
  left: 15%;
  -webkit-animation-duration: 14.5s;
          animation-duration: 14.5s;
  -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s;
  -webkit-transform-origin: 2vw -1vh;
          transform-origin: 2vw -1vh;
  -webkit-box-shadow: 40vmin 0 7.04738vmin currentColor;
          box-shadow: 40vmin 0 7.04738vmin currentColor;
}

.contentBackground span:nth-child(5) {
  color: #ffacac;
  top: 71%;
  left: 14%;
  -webkit-animation-duration: 15.2s;
          animation-duration: 15.2s;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
  -webkit-transform-origin: -13vw 5vh;
          transform-origin: -13vw 5vh;
  -webkit-box-shadow: -40vmin 0 8.59209vmin currentColor;
          box-shadow: -40vmin 0 8.59209vmin currentColor;
}

.contentBackground span:nth-child(6) {
  color: #e7b53a;
  top: 78%;
  left: 68%;
  -webkit-animation-duration: 15.3s;
          animation-duration: 15.3s;
  -webkit-animation-delay: -9.3s;
          animation-delay: -9.3s;
  -webkit-transform-origin: 16vw 19vh;
          transform-origin: 16vw 19vh;
  -webkit-box-shadow: -40vmin 0 10.82876vmin currentColor;
          box-shadow: -40vmin 0 10.82876vmin currentColor;
}

.contentBackground span:nth-child(7) {
  color: #e7b53a;
  top: 70%;
  left: 71%;
  -webkit-animation-duration: 15.3s;
          animation-duration: 15.3s;
  -webkit-animation-delay: -15.7s;
          animation-delay: -15.7s;
  -webkit-transform-origin: -1vw 3vh;
          transform-origin: -1vw 3vh;
  -webkit-box-shadow: 40vmin 0 10.54674vmin currentColor;
          box-shadow: 40vmin 0 10.54674vmin currentColor;
}

.contentBackground span:nth-child(8) {
  color: #e7b53a;
  top: 16%;
  left: 25%;
  -webkit-animation-duration: 10.8s;
          animation-duration: 10.8s;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform-origin: 3vw -19vh;
          transform-origin: 3vw -19vh;
  -webkit-box-shadow: 40vmin 0 9.64283vmin currentColor;
          box-shadow: 40vmin 0 9.64283vmin currentColor;
}

.contentBackground span:nth-child(9) {
  color: #ffacac;
  top: 90%;
  left: 24%;
  -webkit-animation-duration: 13.7s;
          animation-duration: 13.7s;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform-origin: 14vw -22vh;
          transform-origin: 14vw -22vh;
  -webkit-box-shadow: -40vmin 0 12.14847vmin currentColor;
          box-shadow: -40vmin 0 12.14847vmin currentColor;
}

.contentBackground span:nth-child(10) {
  color: #e7b53a;
  top: 64%;
  left: 52%;
  -webkit-animation-duration: 15.4s;
          animation-duration: 15.4s;
  -webkit-animation-delay: -3.9s;
          animation-delay: -3.9s;
  -webkit-transform-origin: -13vw -6vh;
          transform-origin: -13vw -6vh;
  -webkit-box-shadow: 40vmin 0 9.34097vmin currentColor;
          box-shadow: 40vmin 0 9.34097vmin currentColor;
}

.contentBackground span:nth-child(11) {
  color: #ffacac;
  top: 80%;
  left: 35%;
  -webkit-animation-duration: 14.6s;
          animation-duration: 14.6s;
  -webkit-animation-delay: -9.8s;
          animation-delay: -9.8s;
  -webkit-transform-origin: 1vw -23vh;
          transform-origin: 1vw -23vh;
  -webkit-box-shadow: -40vmin 0 6.97814vmin currentColor;
          box-shadow: -40vmin 0 6.97814vmin currentColor;
}

.contentBackground span:nth-child(12) {
  color: #e45a84;
  top: 35%;
  left: 42%;
  -webkit-animation-duration: 11.9s;
          animation-duration: 11.9s;
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
  -webkit-transform-origin: 2vw 13vh;
          transform-origin: 2vw 13vh;
  -webkit-box-shadow: -40vmin 0 9.75705vmin currentColor;
          box-shadow: -40vmin 0 9.75705vmin currentColor;
}

.contentBackground span:nth-child(13) {
  color: #e7b53a;
  top: 58%;
  left: 14%;
  -webkit-animation-duration: 12.2s;
          animation-duration: 12.2s;
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
  -webkit-transform-origin: -22vw -3vh;
          transform-origin: -22vw -3vh;
  -webkit-box-shadow: -40vmin 0 12.14023vmin currentColor;
          box-shadow: -40vmin 0 12.14023vmin currentColor;
}

.contentBackground span:nth-child(14) {
  color: #e7b53a;
  top: 77%;
  left: 39%;
  -webkit-animation-duration: 13.9s;
          animation-duration: 13.9s;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform-origin: 3vw 23vh;
          transform-origin: 3vw 23vh;
  -webkit-box-shadow: -40vmin 0 11.6867vmin currentColor;
          box-shadow: -40vmin 0 11.6867vmin currentColor;
}

.contentBackground span:nth-child(15) {
  color: #ffacac;
  top: 76%;
  left: 82%;
  -webkit-animation-duration: 13.1s;
          animation-duration: 13.1s;
  -webkit-animation-delay: -12.2s;
          animation-delay: -12.2s;
  -webkit-transform-origin: 14vw 23vh;
          transform-origin: 14vw 23vh;
  -webkit-box-shadow: -40vmin 0 8.74293vmin currentColor;
          box-shadow: -40vmin 0 8.74293vmin currentColor;
}

.contentBackground span:nth-child(16) {
  color: #e7b53a;
  top: 52%;
  left: 29%;
  -webkit-animation-duration: 12.5s;
          animation-duration: 12.5s;
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
  -webkit-transform-origin: 4vw 13vh;
          transform-origin: 4vw 13vh;
  -webkit-box-shadow: -40vmin 0 8.90244vmin currentColor;
          box-shadow: -40vmin 0 8.90244vmin currentColor;
}

.contentBackground span:nth-child(17) {
  color: #ffacac;
  top: 71%;
  left: 81%;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform-origin: -11vw -10vh;
          transform-origin: -11vw -10vh;
  -webkit-box-shadow: 40vmin 0 6.02486vmin currentColor;
          box-shadow: 40vmin 0 6.02486vmin currentColor;
}

.contentBackground span:nth-child(18) {
  color: #e45a84;
  top: 8%;
  left: 90%;
  -webkit-animation-duration: 13.2s;
          animation-duration: 13.2s;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform-origin: -21vw -6vh;
          transform-origin: -21vw -6vh;
  -webkit-box-shadow: -40vmin 0 14.10423vmin currentColor;
          box-shadow: -40vmin 0 14.10423vmin currentColor;
}

.contentBackground span:nth-child(19) {
  color: #e7b53a;
  top: 99%;
  left: 8%;
  -webkit-animation-duration: 14.1s;
          animation-duration: 14.1s;
  -webkit-animation-delay: -4.5s;
          animation-delay: -4.5s;
  -webkit-transform-origin: 1vw 0vh;
          transform-origin: 1vw 0vh;
  -webkit-box-shadow: -40vmin 0 12.70011vmin currentColor;
          box-shadow: -40vmin 0 12.70011vmin currentColor;
}

.contentBackground span:nth-child(20) {
  color: #ffacac;
  top: 79%;
  left: 86%;
  -webkit-animation-duration: 13.5s;
          animation-duration: 13.5s;
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
  -webkit-transform-origin: 14vw 22vh;
          transform-origin: 14vw 22vh;
  -webkit-box-shadow: -40vmin 0 8.11684vmin currentColor;
          box-shadow: -40vmin 0 8.11684vmin currentColor;
}

.logoWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.logoWrapper img {
  width: 60%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-animation-name: logoAnimation;
          animation-name: logoAnimation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.resultWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.resultWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.fadeOut {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.fadeOutLogo {
  opacity: 0;
}

.invisible {
  display: none;
}

.fadeIn {
  -webkit-animation-name: logoAnimation;
          animation-name: logoAnimation;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.descriptionWrapper {
  text-align: center;
  font-size: 16px;
  color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.descriptionWrapper button:active, .descriptionWrapper button:focus {
  outline: none;
}

.descriptionWrapper .resultHeader {
  font-size: 24px;
  margin-bottom: 16px;
}

.descriptionWrapper .resultText {
  font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
  padding: 0 8px;
}

.descriptionWrapper .resultText a {
  color: #1d1d1d !important;
}

.descriptionWrapper .resultText a:hover {
  color: #1d1d1d !important;
}

.descriptionWrapper .resultText:last-child {
  padding: 16px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: #e7b53a;
  margin-top: 16px;
}

.descriptionWrapper .newButton {
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 0;
  margin: 8px 0;
  position: relative;
}

.descriptionWrapper .newButton::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1d1d1d;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}

.descriptionWrapper .newButton:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.descriptionWrapper .resultLink {
  font-size: 18px;
  text-transform: uppercase;
  color: #1d1d1d;
  text-decoration: underline;
  margin-bottom: 24px;
  cursor: pointer;
  display: inline-block;
}

.descriptionWrapper .resultLink:hover {
  text-decoration: none;
}

.moreButton {
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
  will-change: transform, box-shadow;
  margin: 16px 0;
}

.moreButton:hover {
  -webkit-box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.moreButton:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.fullHeight {
  -webkit-animation-name: toFullHeight;
          animation-name: toFullHeight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.appendedTextWrapper {
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fadeOutText {
  -webkit-animation-name: fadeOutTextAnimation;
          animation-name: fadeOutTextAnimation;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes fadeOutTextAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutTextAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes logoAnimation {
  from {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes logoAnimation {
  from {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@-webkit-keyframes toFullHeight {
  from {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toFullHeight {
  from {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes buttonAnimation {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes buttonAnimation {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes buttonAnimationSecond {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes buttonAnimationSecond {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
/*# sourceMappingURL=styles.css.map */