body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 24px 0;
}

.container {
  padding: 16px;
  border-radius: 4px;
  background-color: #fcf8e3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 776px;
}

.wrapper {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

@media (max-width: 650px) {
  .wrapper {
    height: 250px;
  }
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundWrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  pointer-events: none;
}

.contentBackground {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 87%;
  background-color: #fcf8e4;
  overflow: hidden;
  z-index: -1;
  cursor: pointer;
}

.contentWrapper {
  position: absolute;
  top: 7px;
  left: 10px;
  width: calc(100% - 19px);
  height: 87%;
}

@media (max-width: 767px) {
  .contentWrapper {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(87% + 1px);
  }
}

.firstStepWrapper {
  width: 100%;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.firstStepWrapper h4 {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 24px auto;
  padding: 8px 24px;
  color: #1d1d1d;
}

@media (max-width: 650px) {
  .firstStepWrapper h4 {
    font-size: 18px;
    margin: 16px auto;
    margin-bottom: 8px;
  }
}

@media (max-width: 400px) {
  .firstStepWrapper h4 {
    font-size: 16px;
  }
}

.buttonsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px;
  padding-right: 0;
}

.stepButton {
  position: relative;
  width: calc(33% - 24px);
  height: 60px;
  margin-right: 16px;
  margin-bottom: 24px;
  overflow: hidden;
  border: 1px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}

@media (max-width: 650px) {
  .stepButton {
    width: calc(50% - 24px);
    height: 50px;
    margin-bottom: 16px;
  }
}

.stepButton button {
  width: 101%;
  height: 100%;
  font-weight: 300;
  font-size: 18px;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: buttonAnimationSecond 0.7s steps(70) forwards;
  animation: buttonAnimationSecond 0.7s steps(70) forwards;
}

.stepButton button:hover {
  -webkit-animation: buttonAnimation 0.7s steps(70) forwards;
  animation: buttonAnimation 0.7s steps(70) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  position: absolute;
  font-size: 18px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contentBackground span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.contentBackground span:nth-child(1) {
  color: #e45a84;
  top: 87%;
  left: 94%;
  -webkit-animation-duration: 14.6s;
          animation-duration: 14.6s;
  -webkit-animation-delay: -4.5s;
          animation-delay: -4.5s;
  -webkit-transform-origin: -22vw 20vh;
          transform-origin: -22vw 20vh;
  -webkit-box-shadow: 40vmin 0 11.97711vmin currentColor;
          box-shadow: 40vmin 0 11.97711vmin currentColor;
}

.contentBackground span:nth-child(2) {
  color: #ffacac;
  top: 75%;
  left: 58%;
  -webkit-animation-duration: 10.9s;
          animation-duration: 10.9s;
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
  -webkit-transform-origin: 13vw 20vh;
          transform-origin: 13vw 20vh;
  -webkit-box-shadow: 40vmin 0 10.37134vmin currentColor;
          box-shadow: 40vmin 0 10.37134vmin currentColor;
}

.contentBackground span:nth-child(3) {
  color: #e45a84;
  top: 73%;
  left: 80%;
  -webkit-animation-duration: 15.8s;
          animation-duration: 15.8s;
  -webkit-animation-delay: -5.1s;
          animation-delay: -5.1s;
  -webkit-transform-origin: -24vw 18vh;
          transform-origin: -24vw 18vh;
  -webkit-box-shadow: -40vmin 0 7.72457vmin currentColor;
          box-shadow: -40vmin 0 7.72457vmin currentColor;
}

.contentBackground span:nth-child(4) {
  color: #e45a84;
  top: 97%;
  left: 1%;
  -webkit-animation-duration: 10.1s;
          animation-duration: 10.1s;
  -webkit-animation-delay: -12.3s;
          animation-delay: -12.3s;
  -webkit-transform-origin: -11vw -1vh;
          transform-origin: -11vw -1vh;
  -webkit-box-shadow: -40vmin 0 7.11879vmin currentColor;
          box-shadow: -40vmin 0 7.11879vmin currentColor;
}

.contentBackground span:nth-child(5) {
  color: #ffacac;
  top: 3%;
  left: 27%;
  -webkit-animation-duration: 13.1s;
          animation-duration: 13.1s;
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
  -webkit-transform-origin: 15vw 21vh;
          transform-origin: 15vw 21vh;
  -webkit-box-shadow: 40vmin 0 9.58729vmin currentColor;
          box-shadow: 40vmin 0 9.58729vmin currentColor;
}

.contentBackground span:nth-child(6) {
  color: #e45a84;
  top: 19%;
  left: 67%;
  -webkit-animation-duration: 10.5s;
          animation-duration: 10.5s;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform-origin: -4vw 2vh;
          transform-origin: -4vw 2vh;
  -webkit-box-shadow: 40vmin 0 9.77614vmin currentColor;
          box-shadow: 40vmin 0 9.77614vmin currentColor;
}

.contentBackground span:nth-child(7) {
  color: #e45a84;
  top: 36%;
  left: 75%;
  -webkit-animation-duration: 14.2s;
          animation-duration: 14.2s;
  -webkit-animation-delay: -6.1s;
          animation-delay: -6.1s;
  -webkit-transform-origin: 0vw 22vh;
          transform-origin: 0vw 22vh;
  -webkit-box-shadow: 40vmin 0 11.58326vmin currentColor;
          box-shadow: 40vmin 0 11.58326vmin currentColor;
}

.contentBackground span:nth-child(8) {
  color: #ffacac;
  top: 33%;
  left: 2%;
  -webkit-animation-duration: 15.6s;
          animation-duration: 15.6s;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform-origin: 25vw 19vh;
          transform-origin: 25vw 19vh;
  -webkit-box-shadow: 40vmin 0 7.05804vmin currentColor;
          box-shadow: 40vmin 0 7.05804vmin currentColor;
}

.contentBackground span:nth-child(9) {
  color: #e7b53a;
  top: 89%;
  left: 92%;
  -webkit-animation-duration: 11.6s;
          animation-duration: 11.6s;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform-origin: 12vw -22vh;
          transform-origin: 12vw -22vh;
  -webkit-box-shadow: -40vmin 0 9.38042vmin currentColor;
          box-shadow: -40vmin 0 9.38042vmin currentColor;
}

.contentBackground span:nth-child(10) {
  color: #e7b53a;
  top: 96%;
  left: 51%;
  -webkit-animation-duration: 12.4s;
          animation-duration: 12.4s;
  -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s;
  -webkit-transform-origin: -8vw -14vh;
          transform-origin: -8vw -14vh;
  -webkit-box-shadow: 40vmin 0 13.30076vmin currentColor;
          box-shadow: 40vmin 0 13.30076vmin currentColor;
}

.contentBackground span:nth-child(11) {
  color: #ffacac;
  top: 1%;
  left: 22%;
  -webkit-animation-duration: 14.2s;
          animation-duration: 14.2s;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform-origin: 0vw -17vh;
          transform-origin: 0vw -17vh;
  -webkit-box-shadow: 40vmin 0 14.6102vmin currentColor;
          box-shadow: 40vmin 0 14.6102vmin currentColor;
}

.contentBackground span:nth-child(12) {
  color: #e7b53a;
  top: 4%;
  left: 4%;
  -webkit-animation-duration: 10.8s;
          animation-duration: 10.8s;
  -webkit-animation-delay: -4.7s;
          animation-delay: -4.7s;
  -webkit-transform-origin: -14vw 21vh;
          transform-origin: -14vw 21vh;
  -webkit-box-shadow: 40vmin 0 5.67317vmin currentColor;
          box-shadow: 40vmin 0 5.67317vmin currentColor;
}

.contentBackground span:nth-child(13) {
  color: #e7b53a;
  top: 16%;
  left: 68%;
  -webkit-animation-duration: 13.5s;
          animation-duration: 13.5s;
  -webkit-animation-delay: -4.7s;
          animation-delay: -4.7s;
  -webkit-transform-origin: -15vw -5vh;
          transform-origin: -15vw -5vh;
  -webkit-box-shadow: -40vmin 0 6.96423vmin currentColor;
          box-shadow: -40vmin 0 6.96423vmin currentColor;
}

.contentBackground span:nth-child(14) {
  color: #e7b53a;
  top: 76%;
  left: 7%;
  -webkit-animation-duration: 14.8s;
          animation-duration: 14.8s;
  -webkit-animation-delay: -13.4s;
          animation-delay: -13.4s;
  -webkit-transform-origin: 3vw -12vh;
          transform-origin: 3vw -12vh;
  -webkit-box-shadow: -40vmin 0 11.74048vmin currentColor;
          box-shadow: -40vmin 0 11.74048vmin currentColor;
}

.contentBackground span:nth-child(15) {
  color: #e7b53a;
  top: 60%;
  left: 82%;
  -webkit-animation-duration: 12.6s;
          animation-duration: 12.6s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform-origin: -4vw -7vh;
          transform-origin: -4vw -7vh;
  -webkit-box-shadow: 40vmin 0 8.984vmin currentColor;
          box-shadow: 40vmin 0 8.984vmin currentColor;
}

.contentBackground span:nth-child(16) {
  color: #e45a84;
  top: 63%;
  left: 2%;
  -webkit-animation-duration: 10.1s;
          animation-duration: 10.1s;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform-origin: 11vw -17vh;
          transform-origin: 11vw -17vh;
  -webkit-box-shadow: -40vmin 0 10.25085vmin currentColor;
          box-shadow: -40vmin 0 10.25085vmin currentColor;
}

.contentBackground span:nth-child(17) {
  color: #e45a84;
  top: 65%;
  left: 69%;
  -webkit-animation-duration: 11.9s;
          animation-duration: 11.9s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  -webkit-transform-origin: 18vw 18vh;
          transform-origin: 18vw 18vh;
  -webkit-box-shadow: 40vmin 0 5.83202vmin currentColor;
          box-shadow: 40vmin 0 5.83202vmin currentColor;
}

.contentBackground span:nth-child(18) {
  color: #e45a84;
  top: 81%;
  left: 73%;
  -webkit-animation-duration: 13.1s;
          animation-duration: 13.1s;
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
  -webkit-transform-origin: -11vw 2vh;
          transform-origin: -11vw 2vh;
  -webkit-box-shadow: 40vmin 0 10.22194vmin currentColor;
          box-shadow: 40vmin 0 10.22194vmin currentColor;
}

.contentBackground span:nth-child(19) {
  color: #e7b53a;
  top: 25%;
  left: 11%;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
  -webkit-transform-origin: 1vw -11vh;
          transform-origin: 1vw -11vh;
  -webkit-box-shadow: 40vmin 0 14.50434vmin currentColor;
          box-shadow: 40vmin 0 14.50434vmin currentColor;
}

.contentBackground span:nth-child(20) {
  color: #ffacac;
  top: 97%;
  left: 45%;
  -webkit-animation-duration: 10.2s;
          animation-duration: 10.2s;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  -webkit-transform-origin: 22vw -4vh;
          transform-origin: 22vw -4vh;
  -webkit-box-shadow: -40vmin 0 6.42111vmin currentColor;
          box-shadow: -40vmin 0 6.42111vmin currentColor;
}

.logoWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.logoWrapper img {
  width: 60%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-animation-name: logoAnimation;
          animation-name: logoAnimation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.resultWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.resultWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.fadeOut {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.fadeOutLogo {
  opacity: 0;
}

.invisible {
  display: none;
}

.fadeIn {
  -webkit-animation-name: logoAnimation;
          animation-name: logoAnimation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.descriptionWrapper {
  text-align: center;
  font-size: 16px;
  color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.descriptionWrapper .resultHeader {
  font-size: 24px;
}

.descriptionWrapper .resultText {
  font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
}

.moreButton {
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
  will-change: transform, box-shadow;
  margin: 16px 0;
}

.moreButton:hover {
  -webkit-box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.fullHeight {
  -webkit-animation-name: toFullHeight;
          animation-name: toFullHeight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@media (max-width: 990px) {
  .fullHeight {
    -webkit-animation-name: toFullHeightMobile;
            animation-name: toFullHeightMobile;
  }
}

@-webkit-keyframes logoAnimation {
  from {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes logoAnimation {
  from {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@-webkit-keyframes toFullHeight {
  from {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toFullHeight {
  from {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes toFullHeightMobile {
  from {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toFullHeightMobile {
  from {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes buttonAnimation {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes buttonAnimation {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes buttonAnimationSecond {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes buttonAnimationSecond {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
/*# sourceMappingURL=styles.css.map */