body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 24px 0;
}

.container {
  padding: 16px;
  border-radius: 4px;
  background-color: #fcf8e3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 776px;
}

.wrapper {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

@media (max-width: 650px) {
  .wrapper {
    height: 250px;
  }
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundWrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  pointer-events: none;
}

.contentBackground {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 87%;
  background-color: #fcf8e4;
  overflow: hidden;
  z-index: -1;
  cursor: pointer;
}

.contentWrapper {
  position: absolute;
  top: 7px;
  left: 10px;
  width: calc(100% - 19px);
  height: 87%;
}

@media (max-width: 767px) {
  .contentWrapper {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(87% + 1px);
  }
}

.firstStepWrapper {
  width: 100%;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.firstStepWrapper h4 {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 24px auto;
  padding: 8px 24px;
  color: #1d1d1d;
}

@media (max-width: 650px) {
  .firstStepWrapper h4 {
    font-size: 18px;
    margin: 16px auto;
    margin-bottom: 8px;
  }
}

@media (max-width: 400px) {
  .firstStepWrapper h4 {
    font-size: 16px;
  }
}

.buttonsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px;
  padding-right: 0;
}

.stepButton {
  position: relative;
  width: calc(33% - 24px);
  height: 60px;
  margin-right: 16px;
  margin-bottom: 24px;
  overflow: hidden;
  border: 1px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}

@media (max-width: 650px) {
  .stepButton {
    width: calc(50% - 24px);
    height: 50px;
    margin-bottom: 16px;
  }
}

.stepButton button {
  width: 101%;
  height: 100%;
  font-weight: 300;
  font-size: 18px;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
  -webkit-mask-size: 7100% 100%;
  mask-size: 7100% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: buttonAnimationSecond 0.7s steps(70) forwards;
  animation: buttonAnimationSecond 0.7s steps(70) forwards;
}

.stepButton button:hover {
  -webkit-animation: buttonAnimation 0.7s steps(70) forwards;
  animation: buttonAnimation 0.7s steps(70) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  position: absolute;
  font-size: 18px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contentBackground span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.contentBackground span:nth-child(1) {
  color: #e7b53a;
  top: 65%;
  left: 9%;
  -webkit-animation-duration: 14.1s;
          animation-duration: 14.1s;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
  -webkit-transform-origin: 24vw -2vh;
          transform-origin: 24vw -2vh;
  -webkit-box-shadow: 40vmin 0 8.86881vmin currentColor;
          box-shadow: 40vmin 0 8.86881vmin currentColor;
}

.contentBackground span:nth-child(2) {
  color: #e45a84;
  top: 95%;
  left: 37%;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  -webkit-transform-origin: 15vw -14vh;
          transform-origin: 15vw -14vh;
  -webkit-box-shadow: 40vmin 0 10.99436vmin currentColor;
          box-shadow: 40vmin 0 10.99436vmin currentColor;
}

.contentBackground span:nth-child(3) {
  color: #e7b53a;
  top: 9%;
  left: 41%;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
  -webkit-transform-origin: 3vw 21vh;
          transform-origin: 3vw 21vh;
  -webkit-box-shadow: 40vmin 0 8.48272vmin currentColor;
          box-shadow: 40vmin 0 8.48272vmin currentColor;
}

.contentBackground span:nth-child(4) {
  color: #ffacac;
  top: 64%;
  left: 90%;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
  -webkit-transform-origin: 14vw -12vh;
          transform-origin: 14vw -12vh;
  -webkit-box-shadow: 40vmin 0 13.70914vmin currentColor;
          box-shadow: 40vmin 0 13.70914vmin currentColor;
}

.contentBackground span:nth-child(5) {
  color: #ffacac;
  top: 75%;
  left: 60%;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  -webkit-transform-origin: -15vw -12vh;
          transform-origin: -15vw -12vh;
  -webkit-box-shadow: 40vmin 0 8.88843vmin currentColor;
          box-shadow: 40vmin 0 8.88843vmin currentColor;
}

.contentBackground span:nth-child(6) {
  color: #ffacac;
  top: 84%;
  left: 74%;
  -webkit-animation-duration: 13.5s;
          animation-duration: 13.5s;
  -webkit-animation-delay: -9.3s;
          animation-delay: -9.3s;
  -webkit-transform-origin: 5vw 18vh;
          transform-origin: 5vw 18vh;
  -webkit-box-shadow: -40vmin 0 13.91498vmin currentColor;
          box-shadow: -40vmin 0 13.91498vmin currentColor;
}

.contentBackground span:nth-child(7) {
  color: #ffacac;
  top: 14%;
  left: 8%;
  -webkit-animation-duration: 15.3s;
          animation-duration: 15.3s;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  -webkit-transform-origin: -12vw -23vh;
          transform-origin: -12vw -23vh;
  -webkit-box-shadow: 40vmin 0 6.54563vmin currentColor;
          box-shadow: 40vmin 0 6.54563vmin currentColor;
}

.contentBackground span:nth-child(8) {
  color: #e7b53a;
  top: 69%;
  left: 35%;
  -webkit-animation-duration: 10.7s;
          animation-duration: 10.7s;
  -webkit-animation-delay: -5.7s;
          animation-delay: -5.7s;
  -webkit-transform-origin: 5vw -21vh;
          transform-origin: 5vw -21vh;
  -webkit-box-shadow: 40vmin 0 5.17591vmin currentColor;
          box-shadow: 40vmin 0 5.17591vmin currentColor;
}

.contentBackground span:nth-child(9) {
  color: #e7b53a;
  top: 56%;
  left: 87%;
  -webkit-animation-duration: 15.6s;
          animation-duration: 15.6s;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  -webkit-transform-origin: 21vw -10vh;
          transform-origin: 21vw -10vh;
  -webkit-box-shadow: -40vmin 0 6.34131vmin currentColor;
          box-shadow: -40vmin 0 6.34131vmin currentColor;
}

.contentBackground span:nth-child(10) {
  color: #e45a84;
  top: 1%;
  left: 21%;
  -webkit-animation-duration: 12.5s;
          animation-duration: 12.5s;
  -webkit-animation-delay: -13.8s;
          animation-delay: -13.8s;
  -webkit-transform-origin: 25vw 15vh;
          transform-origin: 25vw 15vh;
  -webkit-box-shadow: -40vmin 0 10.59632vmin currentColor;
          box-shadow: -40vmin 0 10.59632vmin currentColor;
}

.contentBackground span:nth-child(11) {
  color: #e45a84;
  top: 3%;
  left: 31%;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  -webkit-transform-origin: -15vw 21vh;
          transform-origin: -15vw 21vh;
  -webkit-box-shadow: -40vmin 0 12.35944vmin currentColor;
          box-shadow: -40vmin 0 12.35944vmin currentColor;
}

.contentBackground span:nth-child(12) {
  color: #e7b53a;
  top: 65%;
  left: 45%;
  -webkit-animation-duration: 13.1s;
          animation-duration: 13.1s;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
  -webkit-transform-origin: -19vw -4vh;
          transform-origin: -19vw -4vh;
  -webkit-box-shadow: 40vmin 0 8.36733vmin currentColor;
          box-shadow: 40vmin 0 8.36733vmin currentColor;
}

.contentBackground span:nth-child(13) {
  color: #e45a84;
  top: 80%;
  left: 97%;
  -webkit-animation-duration: 12.7s;
          animation-duration: 12.7s;
  -webkit-animation-delay: -11.3s;
          animation-delay: -11.3s;
  -webkit-transform-origin: -1vw 18vh;
          transform-origin: -1vw 18vh;
  -webkit-box-shadow: -40vmin 0 12.01838vmin currentColor;
          box-shadow: -40vmin 0 12.01838vmin currentColor;
}

.contentBackground span:nth-child(14) {
  color: #e45a84;
  top: 33%;
  left: 18%;
  -webkit-animation-duration: 11.9s;
          animation-duration: 11.9s;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
  -webkit-transform-origin: 23vw 1vh;
          transform-origin: 23vw 1vh;
  -webkit-box-shadow: -40vmin 0 8.69477vmin currentColor;
          box-shadow: -40vmin 0 8.69477vmin currentColor;
}

.contentBackground span:nth-child(15) {
  color: #e45a84;
  top: 92%;
  left: 28%;
  -webkit-animation-duration: 11.2s;
          animation-duration: 11.2s;
  -webkit-animation-delay: -14.1s;
          animation-delay: -14.1s;
  -webkit-transform-origin: -24vw -4vh;
          transform-origin: -24vw -4vh;
  -webkit-box-shadow: 40vmin 0 14.38611vmin currentColor;
          box-shadow: 40vmin 0 14.38611vmin currentColor;
}

.contentBackground span:nth-child(16) {
  color: #e45a84;
  top: 44%;
  left: 6%;
  -webkit-animation-duration: 15.6s;
          animation-duration: 15.6s;
  -webkit-animation-delay: -14.3s;
          animation-delay: -14.3s;
  -webkit-transform-origin: -1vw 5vh;
          transform-origin: -1vw 5vh;
  -webkit-box-shadow: 40vmin 0 10.56296vmin currentColor;
          box-shadow: 40vmin 0 10.56296vmin currentColor;
}

.contentBackground span:nth-child(17) {
  color: #e45a84;
  top: 94%;
  left: 17%;
  -webkit-animation-duration: 14.2s;
          animation-duration: 14.2s;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
  -webkit-transform-origin: -4vw 23vh;
          transform-origin: -4vw 23vh;
  -webkit-box-shadow: 40vmin 0 14.40393vmin currentColor;
          box-shadow: 40vmin 0 14.40393vmin currentColor;
}

.contentBackground span:nth-child(18) {
  color: #e7b53a;
  top: 60%;
  left: 90%;
  -webkit-animation-duration: 14.1s;
          animation-duration: 14.1s;
  -webkit-animation-delay: -9.5s;
          animation-delay: -9.5s;
  -webkit-transform-origin: -10vw 19vh;
          transform-origin: -10vw 19vh;
  -webkit-box-shadow: -40vmin 0 12.28753vmin currentColor;
          box-shadow: -40vmin 0 12.28753vmin currentColor;
}

.contentBackground span:nth-child(19) {
  color: #ffacac;
  top: 15%;
  left: 63%;
  -webkit-animation-duration: 12.7s;
          animation-duration: 12.7s;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform-origin: -6vw -22vh;
          transform-origin: -6vw -22vh;
  -webkit-box-shadow: 40vmin 0 9.34507vmin currentColor;
          box-shadow: 40vmin 0 9.34507vmin currentColor;
}

.contentBackground span:nth-child(20) {
  color: #ffacac;
  top: 68%;
  left: 98%;
  -webkit-animation-duration: 13.4s;
          animation-duration: 13.4s;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
  -webkit-transform-origin: 11vw 25vh;
          transform-origin: 11vw 25vh;
  -webkit-box-shadow: -40vmin 0 7.93838vmin currentColor;
          box-shadow: -40vmin 0 7.93838vmin currentColor;
}

.logoWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.logoWrapper img {
  width: 60%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-animation-name: logoAnimation;
          animation-name: logoAnimation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.resultWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.resultWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.fadeOut {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.fadeOutLogo {
  opacity: 0;
}

.invisible {
  display: none;
}

.fadeIn {
  -webkit-animation-name: logoAnimation;
          animation-name: logoAnimation;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.descriptionWrapper {
  text-align: center;
  font-size: 16px;
  color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.descriptionWrapper button:active, .descriptionWrapper button:focus {
  outline: none;
}

.descriptionWrapper .resultHeader {
  font-size: 24px;
  margin-bottom: 16px;
}

.descriptionWrapper .resultText {
  font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
  text-align: justify;
  padding: 0 8px;
}

.descriptionWrapper .resultText a {
  color: #1d1d1d;
}

.descriptionWrapper .resultText a:hover {
  color: #1d1d1d;
}

.descriptionWrapper .resultText:last-child {
  padding: 16px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: #e7b53a;
  margin-top: 16px;
}

.descriptionWrapper .newButton {
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 0;
  margin: 8px 0;
  position: relative;
}

.descriptionWrapper .newButton::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1d1d1d;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}

.descriptionWrapper .newButton:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.descriptionWrapper .resultLink {
  font-size: 18px;
  text-transform: uppercase;
  color: #1d1d1d;
  text-decoration: underline;
  margin-bottom: 24px;
  cursor: pointer;
  display: inline-block;
}

.descriptionWrapper .resultLink:hover {
  text-decoration: none;
}

.moreButton {
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
  will-change: transform, box-shadow;
  margin: 16px 0;
}

.moreButton:hover {
  -webkit-box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.moreButton:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.fullHeight {
  -webkit-animation-name: toFullHeight;
          animation-name: toFullHeight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.appendedTextWrapper {
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fadeOutText {
  -webkit-animation-name: fadeOutTextAnimation;
          animation-name: fadeOutTextAnimation;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
          animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes fadeOutTextAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutTextAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes logoAnimation {
  from {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes logoAnimation {
  from {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@-webkit-keyframes toFullHeight {
  from {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toFullHeight {
  from {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes buttonAnimation {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes buttonAnimation {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes buttonAnimationSecond {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes buttonAnimationSecond {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
/*# sourceMappingURL=styles.css.map */